body {
	background: none repeat scroll 0 0 #222;
	color: #FFFFFF;
	font-family: Segoe UI,Arial,sans-serif;
	font-size: small;
	margin: 0;
}

.toparea {
	background: none repeat scroll 0 0 #383838;
	border-bottom: 1px solid #111;
	box-shadow: 0 0 1px #888;
	height: 45px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.maincontent {
	margin: 50px 0 0;
	position: relative;
}

.loader {
	height: 300px;
	width: 100%;
	background: url(../img/loader.gif) no-repeat center;
	display: none;
	z-index: 999;
	position: fixed;
    cursor: wait;
}

.toparea .title {
	float: left;
	font-size: 24px;
	font-style: italic;
	padding: 8px;
}

.searchbox {
	float: right;
	margin: 10px;
}
/*
input[type="text"] {
	background: none repeat scroll 0 0 #333;
	border: 1px solid #555;
	border-radius: 2px;
	color: inherit;
	font-family: inherit;
	padding: 2px 10px;
	text-shadow: 0 0 4px #999;
}

input[type="text"]:focus {
	box-shadow: 0 0 3px #eee;
}

input[type="submit"], input[type="button"] {
	background: none repeat scroll 0 0 #111;
	border: 1px solid #444;
	border-radius: 3px;
	color: inherit;
	padding: 2px 8px;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
	box-shadow: 0 0 3px #eee;
}*/

.moviebox {
	background: none repeat scroll 0 0 #383838;
	border: 1px solid #555;
	overflow: hidden;
}

.moviebox:hover {
	cursor: pointer;
	box-shadow: 0 0 3px #eee;
}

.moviebox h3 {
	font-size: 13px;
	margin: 3px 10px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
    overflow: hidden;
}

.moviebox .moviebox-body {
	position: relative;
}

.moviebox .moviebox-footer {
	background-color: #333333;
	opacity: 0.8;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
}

.moviebox .moviebox-footer strong {
	padding: 5px;
	display: block;
	margin: 0;
	text-shadow: 0 0 5px #000;
	font-size: 17px;
    text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
}

a {
	display: inline;
    color: inherit;
}

.moviebox .moviebox-footer:hover {
	height: 200px;
	text-overflow: ellipsis;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.moviebox .moviebox-footer p {
	height: 148px;
	overflow: hidden;
	padding: 5px;
	text-align: justify;
	margin: 0;
	text-shadow: 0 0 5px #000;
}

.moviedetails {
	position: relative;
	padding: 1px 0;
}

.moviedetails .details {
	background: rgba(128, 128, 128, .6);
	box-shadow: 0 0 4px #000;
	height: 600px;
	margin: 20px;
	padding: 10px;
	position: relative;
	text-shadow: 2px 2px 2px #000;
}

.moviedetails .title {
	color: #fff;
	font-size: 26px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.moviedetails .trailer iframe {
	border: medium none;
	box-shadow: 0 0 3px #000;
	height: 350px;
	width: 570px;
}

.moviedetails .trailer {
	float: left;
	margin-right: 20px;
}

.moviedetails .description {
	margin-right: 10px;

}
.moviedetails .infos label {
	display: block;
	float: left;
	width: 140px;
}

.moviedetails .infos span {
	display: table;
}