<?php
if ( !count( $arrMovies)) { ?>
	nix gefunden :-(
<?php } else {
	foreach ( $arrMovies as $objMovie) { 
		$objMovie = $objApi->getMovie( $objMovie->getID());?>
		<div class='moviebox' style=''>
      		<div class='moviebox-body' >
				<div class='moviebox-footer'>
				  	<strong>
				   		<?= $objMovie->getTitle();?>
				  	</strong>
				  	<p>
				  		<?= $objMovie->getShortDescription(); ?>
				  	</p>
        		</div>
				<img src='<?= $objApi->getimageUrl('w300').$objMovie->getPoster(); ?>' />
			</div>
		</div>
	<?php }
}
?>