<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="js/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="js/jquery-ui.theme.min.css">
<!-- <link rel="stylesheet/less" type="text/css" href="css/styles.less" /> -->

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/jquery.grid-a-licious.js"></script>
<script type="text/javascript" src="js/site.js"></script>
<!--  <script type="text/javascript" src="js/less.min.js"></script> -->
<title>USAMALEO</title>
<script type="text/javascript">
	$(document).ready( function () {
		initGrid();
		$("#searchform").submit(function() {
		    var url = "index.php";
		    $.ajax({
				type: "POST",
				url: url,
				data: $("#searchform").serialize(),
				beforeSend: function() {
					$('.maincontent').attr( "style", "opacity: 0.2;");
					$('.loader').fadeIn();
				},
				complete: function(){
					$('.loader').fadeOut();
					$('.maincontent').removeAttr( "style");
				},
				success: function(data) {
				    $(".maincontent").html( data);
				    initGrid();
				}
			});
		    return false;
		});
	});
</script>
</head>
<body>
<div class="toparea">
	<div class="title">USAMALEO.com</div>
	<?php include "templates/searchform.html"; ?>
</div>
<div class="loader"></div>
<div class="maincontent">

