<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/main.css">

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<title>USAMALEO</title>
</head>
<body>
<div class="toparea">
	<div class="title">USAMALEO.com</div>
	<?php include "templates/searchform.html"; ?>
</div>
<div class="maincontent">

